/* 
- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights: 
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights: 
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


Colors:
#f4fce3
#82c91e
#a9e34b

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 10px/16px => 62,5% */
  font-size: 62.5%;
  overflow-x: hidden;
  background-image: url(/img/sun-tornado.svg);
  background-size: cover;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #0a3d2e;
}

/************************************/
/* GENERAL REUSABLE COMPONENTS */
/************************************/

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--center-v {
  align-items: center;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  letter-spacing: -0.5px;
  color: #333;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.2rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #38388e;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.btn,
.btn:link,
.btn:visited {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  display: inline-block;
  text-decoration: none;

  border: none;
  cursor: pointer;
  font-family: inherit;

  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #fcc419;
  color: #333;
}

.btn--full:hover,
.btn--full:active {
  background-color: #ffec99;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #c0eb75;
  color: #0a3d2e;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #f4fce3;
  box-shadow: inset 0 0 0 3px #777;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.margin-top-sm {
  margin-top: 2.4rem;
}

.margin-top-md {
  margin-top: 12.8rem;
}

.end-align {
  justify-items: end;
}

.center-text {
  text-align: center;
}

.hide {
  display: none;
  opacity: 0;
  transition: opacity 300ms;
  animation: scale-display 3s;
}

.block {
  display: block;
}

.btn--form {
  background-color: #82c91e;
  align-self: end;
  padding: 1.2rem;
}

.btn--form:hover {
  background-color: #fff;
}

.justify-start {
  justify-self: start !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fcc419;
}

.swiper {
  padding: 0 3.8rem;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #fcc419;
}
