.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #f4fce3; */
  position: relative;
  padding: 0 4.8rem;
  height: 9.6rem;
}

.logo {
  height: 8.6rem;
}

/************************************/
/* NAVIGATION */
/************************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #ffec99;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #333;
  background-color: #fcc419;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #ffec99;
}

/************************************/
/* HERO SECTION */
/************************************/

.hero-section {
  /* background-color: #f4fce3; */
  padding: 4.8rem 0 9.6rem 0;
  margin-bottom: 8rem;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
  position: relative;
}

.hero-img {
  width: 100%;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 1.6rem;
}

.hero-name {
  font-size: 1.6rem;
  color: #6f6f6f;
  margin-bottom: 4.8rem;
}

/************************************/
/* STORITEV SECTION */
/************************************/

.storitev-section {
  margin-bottom: 12.8rem;
}

.card {
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 8%);
  border-radius: 1.1rem;
  overflow: hidden;

  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 1.6rem;

  border: 2px solid #fcc419;
  transition: all 0.3s;
}

.card-img-box {
  position: relative;
}

.card:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.card-img {
  width: 100%;
  opacity: 75%;
}

.card-paragraph {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  color: #0a3d2e;
  background-color: #e9fac8;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  font-weight: 700;

  padding: 0.8rem;
  border-radius: 1.2rem;
  opacity: 75%;
}

.card-text-box {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.card-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

/************************************/
/* PRAZNOVANJA SECTION */
/************************************/

.praznovanja-section {
  margin-bottom: 12.8rem;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #fcc419;
  margin-bottom: 1.2rem;
}

.underline {
  border-bottom: 5px solid #fcc419;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 3.2rem;
}

.gallery {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
  border: 2px solid #fcc419;
  border-radius: 1.2rem;

  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 8%);
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.list-heading {
  font-size: 2rem;
  line-height: 1.6;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
}

/************************************/
/* CENIK SECTION */
/************************************/

.cenik-section {
  padding: 9.6rem 0;
}

.cenik-plan {
  border-radius: 11px;
  width: 75%;
}

.cenik-plan--zacetni {
  justify-self: end;
  border: 2px solid #fdf2e9;
  padding: 4.6rem;
}

.cenik-plan--popoln {
  background-color: #fdf2e9;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}

.cenik-plan--popoln::after {
  content: "Top izbira";
  position: absolute;
  top: 6%;
  right: -18%;

  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  background-color: #ffd43b;
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}

.plan-cena {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.plan-cena span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.plan-sing-up {
  text-align: center;
  margin-top: 4.8rem;
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6rem;
  text-align: center;
}

/************************************/
/* PRAVILA SECTION */
/************************************/

.pravila-section {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 45fr 55fr;

  margin-bottom: 12.8rem;
}

.pravila-text-box {
  padding: 9.6rem;
}

.pravila-img-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.pravila-img-box figure img {
  width: 100%;
  overflow: hidden;
}

/************************************/
/* FEATURES */
/************************************/

.feature-icon {
  color: #0a3d2e;
  height: 3.2rem;
  width: 3.2rem;
  background-color: #ffec99;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
}

.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8rem;
}

/************************************/
/* CTA SECTION */
/************************************/

.section-cta {
  padding: 4.8rem 0 12.8rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #e67e22;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;

  background-image: linear-gradient(to right bottom, #fcc419, #ffec99);
  overflow: hidden;
}

.cta .heading-secondary {
  color: #0a3d2e;
  margin-bottom: 3.2rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(252, 196, 25, 0.35),
      rgba(255, 236, 153, 0.35)
    ),
    url("../img/blow.jpg");
  background-size: cover;
  background-position: center;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8rem;
  margin-bottom: 4.8rem;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem hsla(27, 83%, 95%, 0.5);
}

/************************************/
/* FOOTER */
/************************************/

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #fdf2e9;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1.5fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.footer-logo img {
  height: 12.8rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #767676;
  margin-top: auto;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:active,
.footer-link:hover {
  color: #555;
}
